*{
  padding: 0; margin: 0; box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
/* Login form  */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }


/* DetailsSection */
.detailsSection{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/public/image/sachool.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5rem;
}

/* navbarSectionDelete */
.nav-link{
  color: black;
  font-size: 19px;
  margin-left: 3px;
}
.nav-link:hover{
  color: white;
}

.dropdown-item:hover{
  background-color: #dc3545;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#navbarSection{
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

/* Homepage */
#homepage{
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/public/image/hero-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#homePadding{
  padding-top: 10rem;
}

/* CardShow */
.headingSection{
  border-bottom: 3px solid black;
  
}
/* Bank form Details  */
.bankForm{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../public/image/banklogin.jpg");
  width: 100%;
  height: 100vh;
  margin-top: 3.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
option{
  color: rebeccapurple;
}

/* register */
@media(min-width:850px ){
  #register{
    background-color: #b44593;
  }
}

/* loginForm */
@media(max-width:850px){
  #loginForm{
    height: 140vh;
    background-color: #eee;
  }
}